/* $Id$ */


.comment_reply {
	display: none ! important;
	
}


.open-review-active {
	background-color: yellow;
	
}

.open-review-view-dialog-comment {
    cursor: pointer;
    padding-left: 20px;
    background-image: url('icons/comment_add.png');
    background-repeat: no-repeat;
}

.open-review-comment-open-on-para {
	cursor: pointer;
	padding-left: 20px;
    background-image: url('icons/comments.png');
    background-repeat: no-repeat;	
}

div.ui-dialog .open-review-comment-open-on-para {
	display: none;
}

p.open-review-para {
	
	min-height: 50px;
}


span.open-review-para-actions {
	display:block;
    float:left;
	padding-right: 5px;;

	
}


span.open-review-para-comment {
	
	display: block;
	cursor: pointer;
	width: 20px;
	height: 20px;
    background-image: url('icons/comment_add.png');
	background-repeat: no-repeat;
	
}

span.open-review-para-view {
    
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;    
	padding-left: 20px;
    background-image: url('icons/comments.png');
    background-repeat: no-repeat;
    
}

div#open-review-comments {
	width: 30%;
	
	
}

/* jQuery styling */

.ui-dialog .ui-dialog-titlebar-close {
	height: auto;
	margin: 0;
	width: auto;
	
}

div.ui-dialog {
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	width: 550px;
}

div.ui-dialog-titlebar {
	margin-bottom: 20px;
}

span.ui-dialog-title {
	
}

span#ui-dialog-title-dialog {
	
}



di#dialog {
	
}
div.ui-dialog-content {
	
}


